<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.badmintonsystem.Dao.IncomeMapper">
    <select id="SelectByDate" resultType="java.lang.Integer">
        select inid from income where datess=#{datess}
    </select>
    <select id="AddInfo" resultType="com.badmintonsystem.Bean.Income">
        insert into income(inid,lgnum,stime,money,datess)
        values(null,0,0,0,#{datess})
    </select>
    <select id="UpdateLgNum" resultType="com.badmintonsystem.Bean.Income">
        UPDATE income SET lgnum=lgnum+1 WHERE inid=#{inid};
    </select>
    <select id="UpdateStime" resultType="com.badmintonsystem.Bean.Income">
        UPDATE income SET stime=stime+#{time} WHERE inid=#{inid};
    </select>
    <select id="UpdateMoney" resultType="com.badmintonsystem.Bean.Income">
        UPDATE income SET money=money+#{money} WHERE inid=#{inid};
    </select>
    <select id="SelectToday" resultType="com.badmintonsystem.Bean.Income">
        SELECT * FROM income WHERE TO_DAYS(datess) = TO_DAYS(NOW())
    </select>
    <select id="SelectDays" resultType="com.badmintonsystem.Bean.Income">
        SELECT * FROM income WHERE DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= DATE(datess)
    </select>
</mapper>